---
import BaseLayout from './BaseLayout.astro';
import { fade } from 'astro:transitions';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <p class="post-by">Written by <a href="/about/">{frontmatter.author}</a> on: {frontmatter.pubDate.toString().slice(0,10)}</p>
<h3><em>{frontmatter.description}</em></h3>

<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

<div class="tags">
    {frontmatter.tags.map((tag) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
</div>

<slot />
</BaseLayout>
<div class="progress-bar"></div>
<div class="progress">0</div>
<style>
     a:link {
    color: #fdba74;
  }
  a:visited {
    color: #fed7aa;
  }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.2em;
      border: dotted 1px #f97316;
      border-radius: .5em;
      padding: 0.1em .3em;
      font-size: 0.9em;
      background-color: #111827;
    }

    .progress-bar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 10px;
      background: #fdba74;
      transform: scaleX(0);
      transform-origin: 0%;
    }
    
    .progress {
      position: fixed;
      bottom: 10px;
      left: 10px;
      padding: 10px;
      background: #fdba74;
      color: #0f1115;
      font-size: 18px;
      font-weight: bold;
      width: 50px;
      text-align: center;
      border-radius: 5px;
    }
  </style>
  <script>
    import "../scripts/scroll.js";
	</script>